{% extends 'BGridBundle::layout.html.twig' %}

{% block body %}

<div class="layout">
    <div class="groups column">
        <div class="grid" data-bind="foreach: groups.content">
            <div class="row">
                <div class="text">
                    <span class="action" data-bind="
                        click: $root.groups.select,
                        text: title,
                        css: {clickable: !$root.groups.isActive($data)}
                    "></span>
                </div>
            </div>
        </div>
    </div>
    <div class="items column">
        <div class="grid">
            <div class="head">
                <div class="row">
                    <div class="text">Title</div>
                    <div class="numbers">Price</div>
                    <div class="numbers">Amount</div>
                    <div></div>
                </div>
            </div>
            <div class="body" data-bind="template: {name: items.templateName, foreach: items.active}"></div>
        </div>
        <!-- ko if:$root.activeGroup -->
        <button data-bind="click: items.showCreateForm">Add</button>
        <label for="poll-changes">
            Poll changes: <input id="poll-changes" type="checkbox" data-bind="checked: items.pollEnabled">
        </label>
        <!-- /ko -->
    </div>
</div>

<script id="viewItemTmpl" type="text/html">
    <div class="row" data-bind="css: {isNew: isNew(), hasErrors: !isValid()}">
        <div class="text" data-bind="text: title"></div>
        <div class="numbers" data-bind="text: price"></div>
        <div class="numbers" data-bind="text: amount"></div>
        <div class="actions">
            <span class="action clickable" data-bind="click: $root.items.showEditForm">Edit</span>
            <span class="action clickable" data-bind="click: $root.items.showDeleteForm">Del</span>
        </div>
    </div>
</script>

<script id="editItemTmpl" type="text/html">
    <div class="row">
        <div class="text">
            <input type="text" data-bind="value: title">
        </div>
        <div class="numbers">
            <input type="text" data-bind="value: price">
        </div>
        <div class="numbers">
            <input type="text" data-bind="value: amount">
        </div>
        <div class="actions">
            <span class="action clickable static" data-bind="click: $root.items.persist">Save</span>
            <span class="action clickable static" data-bind="click: $root.items.cancel">Cancel</span>
        </div>
    </div>
</script>

{% endblock %}

{% block app_config %}
{{ parent() }}
Price.config.url = {};
Price.config.url.item = "{{ url_item }}";
Price.config.url.group = "{{ url_group }}";
Price.config.url.changelog = "{{ url_changelog }}";
Price.config.pageId = "{{ page_id }}";
{% endblock %}